<!DOCTYPE html>
<html>
<head>
	<title>ClinicaMedico</title>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href="./css/style.css" rel="stylesheet">
</head>
<body>


	<header>
			<div class="menu">
				<div id="logo">
					<h2>Clínicas Médicas</h2>
				</div>
				<div id="nav">
					<button id="link1" class="active" >Médicos</button>
					<button id="link2" >Clínicas</button>
				</div>
			</div><!--menu-->

			<div class="clear"></div>
	</header>

	<section id="secao1" class="ativa">
		<div id="Sections" class="center">

			<div id="headerSections">

				<h2>Médicos Disponíveis</h2>
				<button id="abrir-modal-novo-medico" onclick="abrirModalNovoMedico()" class="new">Novo Médico</button>

			</div><!--headerSections-->

			<div class="divider"></div>

			<div class="table">
				<div id="top-table">
					<p>Código</p>
					<p>Nome</p>
					<p>Gênero</p>
					<p>Email</p>
					<p>Telefone</p>
					<p style="color:white;">.Ações..</p>
				</div>
				<div id="infos-table">
					<% for(var i=0; i<medico.length; i++) {%>
					<div class="info-line">
						<p><%= medico[i].CodMed %></p>
						<p><%= medico[i].NomeMed %></p>
						<p><%= medico[i].Genero %></p>
						<p><%= medico[i].Email %></p>
						<p><%= medico[i].Telefone %></p>
						<div id="icons">
							<!--MUDAR O PARÂMETRO QUE PASSA DENTRO DO SETIDMEDICO() PARA OQ Q TIVER SENDO PASSADO PELO BANCO-->
							<button id="abrir-modal-clinica-medico" onclick="setInfoCliMed('<%= medico[i].CodMed %>', '<%= medico[i].NomeMed %>'); abrirModalClinicaMedico()" class="iconMed"><i class="icon-hospital"></i></button>
							<button id="abrir-modal-editar-medico" onclick="setInfoMed('<%= medico[i].CodMed %>', '<%= medico[i].NomeMed %>', '<%= medico[i].Genero %>', '<%= medico[i].Email %>', '<%= medico[i].Telefone %>'); abrirModalEditarMedico()" class="iconMed"><i class="icon-pencil"></i></button>
							<button onclick="excluirMedico('<%= medico[i].CodMed %>')" class="iconMed"><i class="icon-trash"></i></button>
						</div><!--icons-->
					</div><!--info-line-->
					<% } %>	
					

				</div><!--infos-table-->
			</div><!--table-->

		</div> <!--Sections-->
	</section> 
	  
	<section id="secao2">
		<div id="Sections" class="center">

			<div id="headerSections">

				<h2>Clínicas Disponíveis</h2>
				<button id="abrir-modal-nova-clinica" onclick="abrirModalNovaClinica()" class="new">Nova Clínica</button>

			</div><!--headerSections-->

			<div class="divider"></div>

			<div class="table">
				<div id="top-table">
					<p>Código</p>
					<p>Nome</p>
					<p>Endereço</p>
					<p>Email</p>
					<p>Telefone</p>
					<p style="color:white;">Ações</p>
				</div>
				<div id="infos-table">

					<% for(var i=0; i<clinica.length; i++) {%>
					<div class="info-line" onclick="toggleDropdown(this)">
						<p><%= clinica[i].CodCli %></p>
						<p><%= clinica[i].NomeCli %></p>
						<p><%= clinica[i].Endereco %></p>
						<p><%= clinica[i].Email %></p>
						<p><%= clinica[i].Telefone %></p>
						<div id="icons">
							<!--MUDAR O PARÂMETRO QUE PASSA DENTRO DO SETIDMEDICO() PARA OQ Q TIVER SENDO PASSADO PELO BANCO-->
							<button id="abrir-modal-editar-clinica" class="icon" onclick="setInfoCli('<%= clinica[i].CodCli %>', '<%= clinica[i].NomeCli %>', '<%= clinica[i].Endereco %>', '<%= clinica[i].Email %>', '<%= clinica[i].Telefone %>'); abrirModalEditarClinica()" ><i class="icon-pencil"></i></button>
							<button onclick="excluirClinica('<%= clinica[i].CodCli %>')" class="icon"><i class="icon-trash"></i></button>
						</div><!--icons-->
					</div><!--info-line-->
					<div class="dropdown-content">
						<div class="info-medicos">
							<p class="title">Médicos Cadastrados</p>
							<div class="table-info-medicos">
								<div id="top-table-info-medicos">
									<p>Nome</p>
									<p>Email</p>
									<p>Telefone</p>
									<p>Data de Entrada</p>
									<p>Carga Horária Semanal</p>
								</div>
								
								<% for(var c=0; c<clinicaMedico.length; c++) {%>
									<% if(clinica[i].CodCli == clinicaMedico[c].CodCli ){%>
									<div class="info-line-medicos">
										<p><%= clinicaMedico[c].NomeMed %></p>
										<p><%= clinicaMedico[c].Email %></p>
										<p><%= clinicaMedico[c].Telefone %></p>
										<p><%= clinicaMedico[c].DataIngresso.toISOString().substring(0, 10) %></p>
										<p><%= clinicaMedico[c].CargaHorariaSemanal %></p>
									</div>
									<% } %>	
								<% } %>	

							</div><!--table-info-medicos-->

						</div><!--info-medicos-->
					</div><!--dropdown-content-->
					<% } %>					

				</div><!--infos-table-->
			</div><!--table-->

		</div> <!--Sections-->
	</section> <!--Seção-->

	<!--MODAIS-->
	<div id="novo-medico" class="modal">
		<div class="modal-conteudo">
		  <h1>Adicione um Novo Médico</h1>
		  <button id="fechar-modal-novo-medico" class="fechar-modal">X</button>


		  <form action="/inserirMedico" method="post">
			<div class="doubleLine">
				<div class="campo-formulario">
					<label for="nome">Código do Médico</label>
					<div class="icone-input">
					<input type="number" id="codMedico" name="codMedico" placeholder="ex: 20001">
					</div>
				</div>

				<div class="campo-formulario">
				<label for="nome">Nome</label>
				<div class="icone-input">
					<input type="text" id="nome" name="nome" placeholder="ex: Rodrigo">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="genero">Gênero</label>
				<div class="icone-input">
					<select id="genero" name="genero">
					<option value="">Selecione</option>
					<option value="F">Feminino</option>
					<option value="M">Masculino</option>
					</select>
				</div>
				</div>
				
				<div class="campo-formulario">
					<label for="telefone">Telefone</label>
					<div class="icone-input">
						<input type="tel" id="telefone" name="telefone" placeholder="ex: (99) 99999-9999">
					</div>
				</div>
			</div>
			
			<div class="campo-formulario">
				<label for="email">E-mail</label>
				<div class="icone-input">
					<input type="email" id="email" name="email" placeholder="ex: elonmusk@mars.com">
				</div>
			</div>

			
			<button id="cadastrar-medico" type="submit">Cadastrar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--novo-medico-->

	  <div id="editar-medico" class="modal">
		<div class="modal-conteudo">
		  <h1>Editar Médico</h1>
		  <button id="fechar-modal-editar-medico" class="fechar-modal">X</button>


		  <form action="./editarMedico" method="post">
			<div class="doubleLine">
				<div class="campo-formulario">
					<label for="nome">Código do Médico</label>
					<div class="icone-input">
					<input type="number" id="editCodMedico" name="editCodMedico" placeholder="ex: 20001" readonly>
					</div>
				</div>

				<div class="campo-formulario">
				<label for="nome">Nome</label>
				<div class="icone-input">
					<input type="text" id="editNomeMed" name="editNomeMed" placeholder="ex: Rodrigo">
				</div>
				</div>
			</div>
			
			<div class="doubleLine">
				<div class="campo-formulario">
				<label for="genero">Gênero</label>
				<div class="icone-input">
					<select id="editGenero" name="editGenero">
					<option value="">Selecione</option>
					<option value="F">Feminino</option>
					<option value="M">Masculino</option>
					</select>
				</div>
				</div>
			
				<div class="campo-formulario">
					<label for="telefone">Telefone</label>
					<div class="icone-input">
						<input type="tel" id="editTelefoneMed" name="editTelefoneMed" placeholder="ex: (99) 99999-9999">
					</div>
				</div>
			
			</div>

			<div class="campo-formulario">
				<label for="email">E-mail</label>
				<div class="icone-input">
					<input type="email" id="editEmailMed" name="editEmailMed" placeholder="ex: elonmusk@mars.com">
				</div>
			</div>
			
			
			<button id="editar-medico" type="submit">Editar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--editar-medico-->

	  <div id="nova-clinica" class="modal">
		<div class="modal-conteudo">
		  <h1>Adicione uma Nova Clínica</h1>
		  <button id="fechar-modal-nova-clinica" class="fechar-modal">X</button>


		  <form action="/inserirClinica" method="post">

			<div class="campo-formulario">
				<label for="nome">Código</label>
				<div class="icone-input">
				  <input type="number" id="codigo" name="codigo" placeholder="ex: 10001">
				</div>
			  </div>

			<div class="campo-formulario">
			  <label for="nome">Nome da Clínica</label>
			  <div class="icone-input">
				<input type="text" id="nome" name="nome" placeholder="ex: Clinica Saúde">
			  </div>
			</div>
			
			<div class="campo-formulario">
				<label for="nome">Endereço</label>
				<div class="icone-input">
				  <input type="text" id="endereco" name="endereco" placeholder="ex: Av. teste, n° 1">
				</div>
			  </div>
			
			<div class="campo-formulario">
			  <label for="email">E-mail</label>
			  <div class="icone-input">
				<input type="email" id="email" name="email" placeholder="ex: elonmusk@mars.com">
			  </div>
			</div>
			
			<div class="campo-formulario">
			  <label for="telefone">Telefone</label>
			  <div class="icone-input">
				<input type="tel" id="telefone" name="telefone" placeholder="ex: (99) 99999-9999">
			  </div>
			</div>
			
			<button id="cadastrar-clinica" type="submit">Cadastrar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--nova-clinica-->

	  <div id="editar-clinica" class="modal">
		<div class="modal-conteudo">
		  <h1>Editar Clínica</h1>
		  <button id="fechar-modal-editar-clinica" class="fechar-modal">X</button>


		  <form action="/editarClinica" method="post">

			<div class="campo-formulario">
				<label for="nome">Código</label>
				<div class="icone-input">
				  <input type="number" id="editCodCli" name="editCodCli" placeholder="ex: 10001" readonly>
				</div>
			  </div>

			<div class="campo-formulario">
			  <label for="nome">Nome da Clínica</label>
			  <div class="icone-input">
				<input type="text" id="editNomeCli" name="editNomeCli" placeholder="ex: Rodrigo">
			  </div>
			</div>
			
			<div class="campo-formulario">
				<label for="nome">Endereço</label>
				<div class="icone-input">
				  <input type="text" id="editEnderecoCli" name="editEnderecoCli" placeholder="ex: Av. teste, n° 1">
				</div>
			  </div>
			
			<div class="campo-formulario">
			  <label for="email">E-mail</label>
			  <div class="icone-input">
				<input type="email" id="editEmailCli" name="editEmailCli" placeholder="ex: elonmusk@mars.com">
			  </div>
			</div>
			
			<div class="campo-formulario">
			  <label for="telefone">Telefone</label>
			  <div class="icone-input">
				<input type="tel" id="editTelefoneCli" name="editTelefoneCli" placeholder="ex: (99) 99999-9999">
			  </div>
			</div>
			
			<button id="editar-clinica" type="submit">Editar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--editar-clinica-->

	  <div id="clinica-medico" class="modal">
		<div class="modal-conteudo">
		  <h1>Adicionar Médico na clínica</h1>
		  <button id="fechar-modal-clinica-medico" class="fechar-modal">X</button>


		  <form action="/inserirClinicaMedico" method="post">
			
			<div class="doubleLine">
				<div class="campo-formulario">
					<label for="nome">Código do Médico</label>
					<div class="icone-input">
					<input type="number" id="codMedCliMed" name="codMedCliMed" placeholder="ex: 20001" readonly>
					</div>
				</div>

				<div class="campo-formulario">
				<label for="nome">Nome do Médico</label>
				<div class="icone-input">
					<input type="text" id="nomeMedCliMed" name="nomeMedCliMed" placeholder="ex: Rodrigo" readonly>
				</div>
				</div>
			</div>

			<div class="doubleLine">

				<div class="campo-formulario">
					<label for="data-entrada">Data de Entrada</label>
					<div class="icone-input">
						<input type="date" id="DataEntradaMed" name="DataEntradaMed" placeholder="Digite a data de entrada">
					</div>
				</div>

				<div class="campo-formulario">
					<label for="nome">Carga Horária Semanal</label>
					<div class="icone-input">
					<input type="number" id="CargaHorariaMed" name="CargaHorariaMed" placeholder="ex: 20">
					</div>
				</div>

			</div>
			
			<h5>Clínicas Disponíveis</h5><br>
				<!-- Dentro do ID, do VAlUE e do FOR (label) tem q passar o código de cada clínica e no label colocar o nome da clinica, pelo oq eu vi vcs usavam db.codCli dentro do for algo assim -->
				<!-- Teria que dar um jeito de fazer a persistência pra caso ele já esteja na clínica o checkbox já ficar marcado por exemplo:
				Se existe a relação então mostra isso: 
				-->

				<div class="campo-formulario">
					<div class="icone-input">
						<select id="dispCli" name="dispCli">
						<option value="">Selecione</option>
						<% for(var i=0; i<clinica.length; i++) {%>
						<option value="<%= clinica[i].CodCli %>"><%= clinica[i].NomeCli %></option>
						<% } %>	
						</select>
					</div>
					</div>



			
			<button id="enviar-clinica-medico" type="submit">Adicionar</button>
		  </form>
		</div><!--modal-conteudo-->
	  </div><!--clinica-medico-->
	  
	<footer>
		<p>Feito com <i class="icon-heart"></i> por SMD</p>
	</footer>

	<script src="../js/frontJs.js"></script>

	<script>
		function excluirMedico(id) {
		  // Fazer a solicitação DELETE para a rota /excluirRegistro/:id
		  fetch(`/excluirRegistroMed/${id}`, { method: 'DELETE' })
			.then(response => {
				location.reload();
			})
			.catch(error => {
			  // Lidar com erros de rede, se necessário
			  console.error('Erro de rede:', error);
			});
		}

		function excluirClinica(id) {
		  // Fazer a solicitação DELETE para a rota /excluirRegistro/:id
		  fetch(`/excluirRegistroCli/${id}`, { method: 'DELETE' })
			.then(response => {
				location.reload();
			})
			.catch(error => {
			  // Lidar com erros de rede, se necessário
			  console.error('Erro de rede:', error);
			});
		}
		</script>


</body>
</html>